.chat-messages-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 600px;
    margin: 20px auto;
  }
  
.group-list {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 20%;
  }
  
.group-list h2 {
    margin-bottom: 10px;
  }
  
.group-list ul {
    list-style-type: none;
    padding: 0;
  }
  
.group-list li {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
  }
  
.group-list li:hover {
    background-color: rgb(173, 177, 175);
  }
  
.group-list .selected-group {
    background-color: #4caf50;
  }

.messages-outer-container {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 80%;
    height: 100%;
  }
  
.messages-container {
    overflow-x: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 80%;
  }
  
.messages-container h2 {
    margin-bottom: 15px;
  }
  
.message-list {
    list-style-type: none;
    padding: 0;
  }

.message-list li {
    margin-bottom: 10px;
  }
  
.new-message-form {
    height: 20%;
    margin-top: 10px;
    padding: 20px;
  }

.new-message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;       
  }  
  
.new-message-form button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: black;
    cursor: pointer;
    font-size: medium;
    position: absolute;
    margin-top: 15px;
    bottom: 2;
    right: 0;
  }
  
.new-message-form button:hover {
    background-color: #45a049;
  }