.managegroups-outer-container {
    display: flex;
    flex-direction: column;
  }

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

h3 {
    text-align: start;
    border-bottom: 2px solid;
  }

.creategroup-button {
    width: 150px;
    height: 40px;
    background-color: #4caf50;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15%;
    font-size: 15px;
    border-width: 1px;
  }

.creategroup-button:hover {
    background-color: #45a049;
  }

.managegroups-container {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    border-radius: 5px;
    border: 1px solid;
    background-color: #f4f4f4;
  }

.managegroups-groups-layout {
    padding: 20px;
    padding-top: 10px;
    /* border: 1px solid;
    border-radius: 5px; 
    border-right: 2px solid; */
  }

.managegroups-group-list {
    list-style-type: none;
    list-style: none;
    padding: 0;
  }

.managegroups-group-item {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 10px;
    align-self: center;
    padding-bottom: 5%;
  }

.managegroups-group-item:hover {
    background-color: rgb(173, 177, 175);
  }

.managegroups-group-item-selected {
    background-color: #4caf50;
  }  

.managegroups-users-layout {
    padding: 20px;
    padding-top: 10px;
  }

.managegroups-user-list {
    list-style: none;
    padding: 0;
  }

.managegroups-user-item {
    border-bottom: 2px;
    margin-bottom: 5px;
    padding: 8px;
    padding-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

.create-new-group-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border : 1px;
    padding: 20px;
    background-color: #f4f4f4;
 }

.create-new-group-header {
    text-align: center;
    border-bottom: none;
  }

.create-group-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 1px solid;
  }

.create-group-buttons {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4caf50;
    font-weight: bold;
    margin-top: 60%;
  }  

.add-user-group-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.add-user-group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

.add-user-group-container button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #4caf50;
  font-weight: bold;
}

.add-user-group-container input {
  padding: 10px 20px;
  border-radius: 5px;
}